target/
lib_managed/
src_managed/
project/boot/

.idea
*.iml

*.swp

.DS_Store

/tmp
notebooks/tmp/
notebooks/delta-rs/tmp/
tmp/
spark-warehouse/

/metastore_db/
derby.log

.ipynb_checkpoints

.jupyter/
env/
notebooks/deltatorch/data/
*.pyc